## Задача 10. Ответьте на несколько вопросов

In [31]:
import pandas as pd

In [32]:
df = pd.read_csv('Desktop/PH_Analitik/laptop_price.csv', encoding='windows-1251', index_col = 'laptop_ID')

1. Найдите ноутбуки с самой маленькой диагональю в данных. Выведите только следующие характеристики:
- Компания
- Тип ноутбука
- Диагональ
- Стоимость 

Если таких ноутбуков несколько, то выводите их всех

In [53]:
df[df['Inches'] == df['Inches'].min()][['Company','TypeName', 'Inches', 'Price_euros']]

          Company            TypeName  Inches  Price_euros
laptop_ID
51         Lenovo  2 in 1 Convertible    10.1       319.00
1097       Lenovo  2 in 1 Convertible    10.1       646.27
1129       Lenovo  2 in 1 Convertible    10.1       549.00
1141       Lenovo  2 in 1 Convertible    10.1       479.00

2. Сколько стоит самый дорогой ноутбук от компании HP

In [57]:
df[df['Company'] == 'HP']['Price_euros'].max()

4389.0

3. Как много ноутбуков Ultrabook c 8GB RAM?

Найдите сколько таких ноутбуков с 8GB ОЗУ в процентном соотношении относительно всех ноутбуков

In [62]:
ultra = df[df['TypeName'] == 'Ultrabook'].shape[0]
ultra

196

In [63]:
ultra8gb = df[(df['TypeName'] == 'Ultrabook') & (df['Ram'] == '8GB')].shape[0]
ultra8gb

140

In [66]:
result = round((ultra8gb/ultra)*100,2)
result

71.43

In [47]:
df[df['Price_euros'] == df['Price_euros'].max()]

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
laptop_ID,,,,,,,,,,,,
200,Razer,Blade Pro,Gaming,17.3,4K Ultra HD / Touchscreen 3840x2160,Intel Core i7 7820HK 2.9GHz,32GB,1TB SSD,Nvidia GeForce GTX 1080,Windows 10,3.49kg,6099.0

 Метод 2

In [76]:
(df[df['TypeName'] == 'Ultrabook'].value_counts('Ram',normalize=True).loc['8GB']*100).round(2)

71.43