## Задача 8.

In [12]:
import pandas as pd

In [15]:
df = pd.read_csv('Desktop/PH_Analitik/laptop_price.csv', encoding='windows-1251', index_col = 'laptop_ID')

- Проведите первичный анализ данных

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1303 entries, 1 to 1320
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1303 non-null   object
 1   Product           1303 non-null   object
 2   TypeName          1303 non-null   object
 3   Inches            1303 non-null   float64
 4   ScreenResolution  1303 non-null   object
 5   Cpu               1303 non-null   object
 6   Ram               1303 non-null   object
 7   Memory            1303 non-null   object
 8   Gpu               1303 non-null   object
 9   OpSys             1303 non-null   object
 10  Weight            1303 non-null   object
 11  Price_euros       1303 non-null   float64
dtypes: float64(2), object(10)
memory usage: 132.3+ KB

- Изучите типы данных

In [20]:
df.dtypes

Company              object
Product              object
TypeName             object
Inches              float64
ScreenResolution     object
Cpu                  object
Ram                  object
Memory               object
Gpu                  object
OpSys                object
Weight               object
Price_euros         float64
dtype: object

- Найдите количество пропущенных ячеек в данных

In [22]:
df.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of            Company  Product  TypeName  Inches  ScreenResolution    Cpu    Ram  \
laptop_ID
1            False    False     False   False             False  False  False
2            False    False     False   False             False  False  False
3            False    False     False   False             False  False  False
4            False    False     False   False             False  False  False
5            False    False     False   False             False  False  False
...            ...      ...       ...     ...               ...    ...    ...
1316         False    False     False   False             False  False  False
1317         False    False     False   False             False  False  False
1318         False    False     False   False             False  False  False
1319         False    False     False   False             False  False  False
1320         False    False     False   False             False  False  False

           Memory    Gpu  OpSys  Weight  Price_euros
laptop_ID
1           False  False  False   False        False
2           False  False  False   False        False
3           False  False  False   False        False
4           False  False  False   False        False
5           False  False  False   False        False
...           ...    ...    ...     ...          ...
1316        False  False  False   False        False
1317        False  False  False   False        False
1318        False  False  False   False        False
1319        False  False  False   False        False
1320        False  False  False   False        False

[1303 rows x 12 columns]>

In [23]:
df.isna().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of            Company  Product  TypeName  Inches  ScreenResolution    Cpu    Ram  \
laptop_ID
1            False    False     False   False             False  False  False
2            False    False     False   False             False  False  False
3            False    False     False   False             False  False  False
4            False    False     False   False             False  False  False
5            False    False     False   False             False  False  False
...            ...      ...       ...     ...               ...    ...    ...
1316         False    False     False   False             False  False  False
1317         False    False     False   False             False  False  False
1318         False    False     False   False             False  False  False
1319         False    False     False   False             False  False  False
1320         False    False     False   False             False  False  False

           Memory    Gpu  OpSys  Weight  Price_euros
laptop_ID
1           False  False  False   False        False
2           False  False  False   False        False
3           False  False  False   False        False
4           False  False  False   False        False
5           False  False  False   False        False
...           ...    ...    ...     ...          ...
1316        False  False  False   False        False
1317        False  False  False   False        False
1318        False  False  False   False        False
1319        False  False  False   False        False
1320        False  False  False   False        False

[1303 rows x 12 columns]>

- Посчитайте основные статистики по всем признакам и поизучайте их

In [25]:
df.describe()

            Inches  Price_euros
count  1303.000000  1303.000000
mean     15.017191  1123.686992
std       1.426304   699.009043
min      10.100000   174.000000
25%      14.000000   599.000000
50%      15.600000   977.000000
75%      15.600000  1487.880000
max      18.400000  6099.000000

In [26]:
df.describe(include=('object'))

,Company,Product,TypeName,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight
count,1303,1303,1303,1303,1303,1303,1303,1303,1303,1303
unique,19,618,6,40,118,9,39,110,9,179
top,Dell,XPS 13,Notebook,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.2kg
freq,297,30,727,507,190,619,412,281,1072,121